[Unit]
Description=Line Encoder Display - marco
After=graphical.target
Wants=graphical.target

[Service]
User=pi
Group=pi
#ExecStartPre=/usr/bin/printenv
ExecStart=/usr/local/sbin/encoder_gui.sh

[Install]
WantedBy=graphical.target
